.cloth-bg-color {background-color:#0a87b5;}
.cloth-color {color:#0a87b5;}
.cloth--border-color {border-color:#0a87b5;}
.cloth-border-top-color {border-top-color: #0a87b5;}
.navbar.cloth .navbar-nav li.active a { color:#0a87b5;}
.navbar.cloth .navbar-nav li a:hover, .navbar.cloth .navbar-nav li a:focus {background-color:transparent !important; color:#0a87b5;}
.navbar.cloth .navbar-nav li:hover, .navbar.cloth .navbar-nav li.active {border-top:3px solid; border-top-color: #0a87b5;}
#small_carousel .product-list div.add-to-cart, #small_carousel .product-list .info-btn {background-color: #0a87b5; }
.products .product-list div.add-to-cart, .products .product-list .info-btn { background-color: #0a87b5;}
.part-label { background-color: #0a87b5;}
.pagination li a { color:#0a87b5;}
.pagination li.active a {background-color: #0a87b5; border-color:#0a87b5; }
.list li a {background-color:#0a87b5;}
#home-slider .carousel-indicators .active, #small_carousel .carousel-indicators .active {background-color: #0a87b5;}
.btn-blue-round {background: rgb(10,135,181);background: -moz-linear-gradient(top,  rgba(10,135,181,1) 0%, rgba(10,135,181,1) 100%);background: -webkit-linear-gradient(top,  rgba(10,135,181,1) 0%,rgba(10,135,181,1) 100%);background: linear-gradient(to bottom,  rgba(10,135,181,1) 0%,rgba(10,135,181,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a87b5', endColorstr='#0a87b5',GradientType=0 );}
.my-basket span.sum-scope {color:#0a87b5;}
.search .btn-red { border-bottom: 1px solid #0a87b5; border-right: 1px solid #0a87b5; border-left: 1px solid #0a87b5;}
#small_carousel .product-list h2 a {color:#0a87b5;}
#home-slider .item h1 a {color:#0a87b5;}